.minecraft/xaero/
.minecraft/XaeroWaypoints*/
.minecraft/tacz/*
!.minecraft/tacz/*.zip
.minecraft/tacz_backup/
.minecraft/screenshots/
.minecraft/config/
.minecraft/saves/
.minecraft/crash-reports/
.minecraft/defaultconfigs/
.minecraft/logs/
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/servers.dat
.minecraft/servers.dat*
.minecraft/optionsshaders.txt
.minecraft/usercache.json
.minecraft/usernamecache.json
PCL/
.minecraft/versions/
.minecraft/assets/
.minecraft/launcher_profiles.json
.minecraft/PCL.ini
